NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCKfkoCJvQT6Qgi-A057FkhQteghTxtUfQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=zikkit-e87ff.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=zikkit-e87ff
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=zikkit-e87ff.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=830059280390
NEXT_PUBLIC_FIREBASE_APP_ID=1:830059280390:web:56aa5ec9aaf4dcce94eb87
ANTHROPIC_API_KEY=
FIREBASE_SERVICE_ACCOUNT_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_IL=
NEXT_PUBLIC_BASE_URL=https://zikkit-appointments.vercel.app
